body{margin:0px; color:#000066; padding: 0px; font-family:helvetica,arial,sans-serif; font-style:normal; font-weight:normal;	background-color:#ffffff;}
#hbar{padding-left: 2px; margin:0; height: 23px;	background-color: #000066;}
#menu{margin:0; padding:0;width:100%; background-color: #000066; }
#menu li{display: inline;	list-style: none; line-height: 23px; vertical-align: bottom;}
#menu a{float: left; margin: 2px 0px 2x 0px; line-height: 23px; vertical-align: bottom;}
.menuseperator{float: left; height:23px; width:1px;}
#heading{margin: 0px;	background-color:#ffffff;	padding: 0px;border: none;}
#headingTitle{ min-heigth: 32px; margin: 0px; padding: 0px;}
#topbarimg{	width: 100%;	height: 60px;	border: none; maring: 0px; padding: 0px}
#topimg{display: block; height: 60px; width: 100%;}
#page{margin: 0px;	min-height: 8em; padding: 5px;	color: #000066;	background-color:#ffcc36; clear: both;}
ul{list-style-position: inside;padding: 0; margin: 2px;}
ul.favs{margin: 2px; }
ul.news{margin: 0px; font-size: small}
li.favs, li.news{list-style-image: url("/web/20160520194735im_/http://mobiel.ns.nl/static/img/arrow-right.gif");}
.disruption{font-size: small;}
.drop{margin: 2px; padding: 2px;	background-color: #ffffff;}
.dropC{margin-top: 5px;	display: block;	font-size: small;}
.dropE{margin-top: 5px;	display: none;	font-size: small;}
.clear{clear: both;}
.nu{text-decoration: none;}
#upd{vertical-align: top}
.tab{background-color: #000066; text-align: right; padding-top: 1px;}
a.tab{font-size:small;	vertical-align: bottom; color: white; text-decoration: none; padding:0;height:23px; padding-left:5px;	padding-right: 5px;	 }
.stab{height: 23px; background-color: #ffcc33; text-align: right;}
a.stab{font-size:small;vertical-align: bottom;  color: #006; text-decoration: none;  padding-left:5px;	padding-right: 5px;	}
p{font-size:small;padding: 2px;}
h2{font-size:24px;  margin:0;}
h4 {font-size:small; font-weight:bold; margin: 2px;}
dl {margin:0px; width: 100%; }
dt {float:left; width:8em; font-size: x-small; margin-right:4px;}
dt.actdept {width:100px;}
dt.fextra {width:5px;}
dd {font-size:small;}
table {border-spacing:0; width: 100%}
.fRight{ float:right; margin-top: 1px; margin-bottom: 1px;	}
.fLeft{	float:left; margin-bottom: 1px;	margin-top: 1px; }
td {font-size:small;}
.depOdd{ background-color: #FEEDBA;}
.depEven{  background-color: #ffffff;}
a {color:#000066; text-decoration:underline; font-size: small;}
.dh{ font-size: small; font-weight: bold; font-size: normal;}
a.favdel{ color: red;}
.red{ color: red; font-weight: bold;}
.cancelledLeg {color:gray; font-weight:bold;}
img {border:none;margin:0;}
.travelPrice th{	text-align: left; font-size: small;	font-weight: bold;}
.travelPrice th[scope=col]{	text-align: right;}
.travelPrice th[scope=row]{	text-align: left;}
td.price{	text-align: right;	width: 6em;}
#footer{ padding-left: 5px;}
#redAlertBox{ margin: 2px; background-color: red; padding: 5px;}
.redAlert{ color: white; font-weight: bold;}
.help{  vertical-align: bottom;}
.seperatorLineCell {margin: 0 0 0 0; padding:0 0 0 0; border-spacing:0; height:1px;font-size:0}
/*
     FILE ARCHIVED ON 19:47:35 May 20, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:36:53 Feb 10, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.465
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.012
  esindex: 0.01
  cdx.remote: 12.105
  LoadShardBlock: 672.838 (3)
  PetaboxLoader3.datanode: 562.686 (5)
  PetaboxLoader3.resolve: 424.726 (3)
  load_resource: 506.554 (2)
*/