{% extends 'base.html.twig' %}

{% block title %}Over de Retro Reisplanner{% endblock %}

{% block content %}

    <h2>Over de Retro reisplanner</h2>

    <div class="drop">
        <p>
            De Retro Reisplanner is een re&iuml;ncarnatie van de mobiele Reisplanner van de Nederlandse Spoorwegen,
            die tot 2016 online is geweest op <code>mobiel.ns.nl</code>.
        </p>

        <p>
            Simpel, snel, doeltreffend. Deze versie was geliefd en wordt soms gemist. Maar het is ook logisch dat de
            NS in het kader van extra onderhoud is gestopt met deze versie gezien mensen steeds meer 'echte' apps zijn
            gaan gebruiken.
        </p>

        <p>
            In een soort van nostalgische bui heb ik deze Retro Reisplanner gemaakt aan de hand van de
            <a href="https://web.archive.org/web/20160318165630/http://mobiel.ns.nl/planner.action?theme=modern" target="_blank">teletijdmachine</a>
            van het internet. Vanwege beeldrecht heb ik een vrij beschikbare foto gebruikt en niet het NS logo, maar verder
            is het een exacte kopie van de mobiele Reisplanner van de NS zoals die eruit zag in 2016.
        </p>

        <p>
            De Retro Reisplanner is gemaakt door <a href="https://jeroenpeters.dev" target="_blank">Jeroen Peters</a>. Ik
            ben op geen enkele wijze verbonden met de Nederlandse Spoorwegen. Ik gebruik wel de NS API voor het tonen
            van de gegevens. Deze site is puur bedoeld als liefhebberij, hopelijk hebben anderen er iets aan.
        </p>
    </div>

{% endblock %}
